<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link href="{% static "shift.css" %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static "bootstrap.css" %}">
      <link href="{% static "main.css" %}" rel="stylesheet">
  </head>
  <body>
  <div class="nav">
  <div class="container">
	<ul class="nav nav-pills">
		<li><a href="#">Log in</a></li>
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Sign up</a></li>
		<li><a href="#">Help</a></li>
	</ul>
  </div>
  </div>
  <div class="jumbotron">
   <div class="container">
    <h1>Encuentra tu medicacion</h1>
    <p>Consulta entre 10000 farmacias y sitios web</p>
   </div>
  </div>
      <div class="opciones">
    <div class="container">
    	<h2>Guias</h2>
		<p>No sabes como comparar?</p>
		<div class="row">
	      <div class="col-md-4">
			<h3>NYE!</h3>
			<p>NYEEEEEEEE</p>
			<a href="#"><div class="thumbnail"><img src="http://goo.gl/0sX3jq"></div></a>
			<a href="#"><div class="thumbnail"><img src="http://goo.gl/an2HXY"></div></a>
	      </div>
		  <div class="col-md-4">
			<h3>AH!</h3>
			<p>AAAAAAAAAAAAAAHHHHHHH</p>
                        <a href="#"><div class="thumbnail"><img src="http://goo.gl/Av1pac"></div></a>
			<a href="#"><div class="thumbnail"><img src="http://goo.gl/vw43v1"></div></a>
		  </div>
		  <div class="col-md-4">
			<h3>BLA!</h3>
			<p>BLABLABLA</p>
			<a href="#"><div class="thumbnail"><img src="http://goo.gl/0Kd7UO"></div></a>
		  </div>
	    </div>
    </div>
    </div> 
  <div class="learn-more">
   <div class="container">
   <div class="row">
  <div class="col-md-4">
    <h3>Medicamentos</h3>
    <p><a href="#">encuentra lo que necesitas</a></p>
  </div>
  <div class="col-md-4">
    <h3>Parafarmacia</h3>
    <p><a href="#">encuentra lo que necesitas</a></p>
  </div>
  <div class="col-md-4">
    <h3>Ortopedia</h3>
    <p><a href="#">encuentra lo que necesitas</a></p>
  </div>
   </div>
   </div>
  </div>
  </body>
</html>